<h1>Evaluations: <%= @game.name %></h1>

<p> System Quality: <%= Evaluation.system_quality.round(2) %> % </p>
<p> Euclidean Distance from real to ideal system: <%= Evaluation.euclidean_distance.round(2) %> </p>

<%= link_to 'New Evaluation', new_game_evaluation_path, class: 'waves-effect waves-light btn' %>
