<h1>Editing Game</h1>

<%= render 'form', game: @game %>

<div class="container center">
  <%= link_to 'Show', @game, class: 'waves-light btn' %>
  <%= link_to 'Back', games_path, class: 'waves-light btn' %>
</div>
