<h1>Games</h1>

<ul class="collapsible popout" data-collapsible="accordion">
  <% @games.each do |game| %>
    <%= render partial: game %>
  <% end %>
</ul>

<br>

<%= link_to 'Cadastrar Jogo', new_game_path, class: 'waves-effect waves-light btn' %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
   $('.collapsible').collapsible();
  });
</script>
