<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <%= render partial: game %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Jogo', new_game_path, class: 'waves-effect waves-light btn' %>
