<nav class="blue darken-2">
  <div class="nav-wrapper container">
    <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
    <%= link_to 'Game Evaluation', root_path, class: 'brand-logo center' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= current_researcher.email if current_researcher %></li>
      <li><%= link_to 'Logout', destroy_researcher_session_path, 'data-method': 'delete' if current_researcher %></li>
    </ul>
  </div>
</nav>
